<!-- Javascript -->
<!--<script src="{{ "/assets/js/klass/isotope.pkgd.min.js" | relative_url }}"></script>-->
<!--<script src="{{ "/assets/js/klass/wow.min.js" | relative_url }}"></script>-->
<script src="{{ "/assets/js/klass/jquery-3.1.1.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/klass/main.js" | relative_url }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.2/photoswipe.umd.min.js"
        integrity="sha512-1LN0vXZGZ/cFH0u75UBi7LiBPNtPjOYBrq3b9r/oFWNMtY1E0cbbkZ7hde75bqeSpLPwz1Yi+bqspde+ihTLMw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.2/photoswipe-lightbox.umd.min.js"
        integrity="sha512-Z5y5T62siZB4wxN80Bfmi4QJpZVPKYGAQM1q3XoaUjrzj0ZaJ9W2w5oGF6byXLYQGn/Ytj3CntKdBkKryglHdA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
