<!-- Javascript -->
<!--<script src="{{ "/assets/js/klass/isotope.pkgd.min.js" | relative_url }}"></script>-->
<!--<script src="{{ "/assets/js/klass/wow.min.js" | relative_url }}"></script>-->
<script src="{{ "/assets/js/klass/jquery-3.1.1.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/klass/main.js" | relative_url }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.2/umd/photoswipe.umd.min.js"
        integrity="sha512-xH3c1Jh7FbAehFlrbmiFLL7fm2YxZRXtRJ0O9Kc+RkCW5VLkLeARPe8RwgCfzYt4N1JRqzxZtBMgsJzLehA4Tw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.2/umd/photoswipe-lightbox.umd.min.js"
        integrity="sha512-OB04yghyy2BT/S1t5HihjY4Jw9Us/5Fw1p5Jw41DIx71Kx+G4SjiPpd3n2ecsYAp7gJL0saH0J6k5elzVHp2+Q=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
